/* SF Pro Display Thin (100) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Thin.otf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 100;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-ThinItalic.otf")
    format("truetype");
}

/* SF Pro Display ExtraLight (200) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-ExtraLight.otf")
    format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 200;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-ExtraLightItalic.otf")
    format("truetype");
}

/* SF Pro Display Light (300) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Light.otf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 300;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-LightItalic.otf")
    format("truetype");
}

/* SF Pro Display Regular (400) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Italic.otf") format("truetype");
}

/* SF Pro Display Medium (500) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Medium.otf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 500;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-MediumItalic.otf")
    format("truetype");
}

/* SF Pro Display SemiBold (600) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-SemiBold.otf")
    format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 600;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-SemiBoldItalic.otf")
    format("truetype");
}

/* SF Pro Display Bold (700) */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-Bold.otf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 700;
  font-display: optional;
  src: url("/Assets/fonts/SF-Pro/SF-Pro-Display-BoldItalic.otf")
    format("truetype");
}
